*{
    box-sizing: border-box;
}

body{
    height: 100svh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
}

.card{
    width: 50%;
    height: 75%;
    background-color: hsl(330, 100%, 98%);
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
    margin: 20px auto;
}

img{
    width: 100%;
    border-radius: 5px;
}

.prep-card{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: hsl(30, 54%, 90%);
    line-height: 1.5;
}

.prep-card p{
    color: hsl(332, 51%, 32%);
    font-size: 1.3em;
    font-weight: 600;
}

.bold{
    font-weight: bold;
    color: hsl(0, 0%, 0%);
}

.Ingrid, .Ingredients h3, .Instructions h3, .nutrition{
    font-family: 'Young serif';
    color: hsl(14, 45%, 36%);
}

.Instructions ul > li{
    list-style: decimal;
}

.indent{
    margin:25px;
}

.nutri-facts p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nutri-facts span{
    color: hsl(14, 45%, 36%);
}

.divider{
    width: 100%;
    border: 1px solid gray;
}